h1,h2 {
  padding-left: 20px;
  padding-top: 15px;
}

h3 {
  padding-left: 20px;
  padding-top: 20px;
}

p {
  margin: 15px 20px;
}

.ImageBorder
{
  border: 2px solid gray;
  margin: 10px 30px;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}